<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Book info</th>
          <th>User</th>
          <th>Status</th>
          <th>
            Actions
            <i
              class="fas fa-plus-circle text-success add-book"
              title="Add book"
              data-bs-toggle="modal"
              data-bs-target="#edit-livre-modal"
            ></i>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livre of livres">
          <td>
            <div>
              <img src="{{ livre.cover }}" alt="book cover" />
              {{ livre.title }}
            </div>
          </td>
          <td>{{ livre.user }}</td>
          <td>
            <span
              class="badge text-white"
              [ngClass]="{
                'text-bg-warning': livre.status === 'pending',
                'text-bg-success': livre.status === 'confirmed',
                'text-bg-danger': livre.status === 'rejected'
              }"
              >{{ livre.status }}</span
            >
          </td>
          <td>
            <div class="actions">
              <i
                (click)="openEditBookModal(livre)"
                class="text-warning fas fa-edit"
                data-bs-target="#edit-livre-modal"
                data-bs-toggle="modal"
              ></i>
              <i class="text-danger fas fa-x"></i>
              <i class="text-success fas fa-check"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-edit-livre />
</div>
