/* .latest-additions {
    max-width: 1120px;
} */

.grid-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-book-card {
  width: 100%;
  min-width: 230px;
}

@media (min-width: 768px) {
  .app-book-card {
    min-width: 0;
    max-width: 280px;
    width: 100%;
  }
}
