<section class="container mb-5">
  <h2 class="text-center">
    Decouvrir <span class="text-warning">LES NOUVEAUTES</span>
  </h2>
  <div class="latest-additions container pt-4">
    <div class="row mb-4">
      <div class="col-12 mb-2 mb-md-0 col-md-3 grid-col">
        <app-book-card class="app-book-card" />
      </div>
      <div class="col-12 mb-2 mb-md-0 col-md-3 grid-col">
        <app-book-card class="app-book-card" />
      </div>
      <div class="col-12 mb-2 mb-md-0 col-md-3 grid-col">
        <app-book-card class="app-book-card" />
      </div>
      <div class="col-12 mb-2 mb-md-0 col-md-3 grid-col">
        <app-book-card class="app-book-card" />
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-2 mb-md-0 col-md-3 grid-col">
        <app-book-card class="app-book-card" />
      </div>
      <div class="col-12 mb-2 mb-md-0 col-md-3 grid-col">
        <app-book-card class="app-book-card" />
      </div>
      <div class="col-12 mb-2 mb-md-0 col-md-3 grid-col">
        <app-book-card class="app-book-card" />
      </div>
      <div class="col-12 mb-2 mb-md-0 col-md-3 grid-col">
        <app-book-card class="app-book-card" />
      </div>
    </div>
  </div>
</section>
