<div
  class="modal fade"
  id="edit-livre-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add book</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <label class="form-label" for="code">Code</label>
          <input class="form-control" type="text" id="code" />
        </div>
        <div>
          <label class="form-label" for="name">Name</label>
          <input class="form-control" type="text" id="name" />
        </div>
        <div>
          <label class="form-label" for="prix">Prix</label>
          <input class="form-control" min="0.1" type="number" id="prix" />
        </div>
        <div>
          <label class="form-label" for="auteur">Auteur</label>
          <input class="form-control" type="text" id="auteur" />
        </div>
        <div>
          <label class="form-label" for="category">Category</label>
          <select class="form-control" name="category" id="category">
            <option value="romance">romance</option>
            <option value="thriller">thriller</option>
          </select>
        </div>
        <div>
          <label class="form-label" for="description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="description"
          ></textarea>
        </div>
        <div class="mt-2">
          <input
            class="form-control"
            type="file"
            name="book-cover"
            placeholder="choisir un fichier"
            id="book-cover"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
