<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Book info</th>
          <th>User</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div>
              <img src="/assets/téléchargement.jpeg" alt="book cover" />
              Book title
            </div>
          </td>
          <td>Youssri dali</td>
          <td><span class="badge text-bg-warning text-white">Pending</span></td>
          <td>
            <div class="actions">
              <i class="text-warning fas fa-edit"></i>
              <i class="text-danger fas fa-x"></i>
              <i class="text-success fas fa-check"></i>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div>
              <img src="/assets/téléchargement.jpeg" alt="book cover" />
              Book title
            </div>
          </td>
          <td>Ameni ben moussa</td>
          <td><span class="badge text-bg-success">Confirmed</span></td>
          <td>
            <div class="actions">
              <i class="text-warning fas fa-edit"></i>
              <i class="text-danger fas fa-x"></i>
              <i class="text-success fas fa-check"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
