<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img class="logo" src="/assets/logo app s.png" alt="logo" />
      <span class="logo-text">BookNook</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isCollapsed">
          <a class="link-dark categories-link" routerLink="/livres"
            >Tous les livres</a
          >
        </li>
        <li *ngIf="!isCollapsed" class="categories-link nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Categories
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/livres">Tous les livres</a>
            </li>
            <hr class="bg-secondary h-1 mt-0" />
            <li>
              <a class="dropdown-item" routerLink="livres/thriller">Thriller</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="livres/science-fiction"
                >Science fiction</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="livres/romance">Romance</a>
            </li>
          </ul>
        </li>
      </ul>
      <form class="search-form d-flex me-auto" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>
      <app-cart />
      <app-avatar [navbarCollapsed]="isCollapsed" *ngIf="isLoggedIn" />
      <div class="auth-btns" *ngIf="!isLoggedIn">
        <button class="btn btn-dark">Sign in</button>
        <button class="btn btn-outline-dark">Sign up</button>
      </div>
    </div>
  </div>
</nav>
