<div
  class="modal fade"
  id="category-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="category-modal-label">Add Category</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>
          <label class="form-label" for="category-name">Name</label>
          <input
            class="form-control"
            type="text"
            name="category-name"
            id="category-name"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark">Save</button>
      </div>
    </div>
  </div>
</div>
