<section class="container">
  <h2 class="text-center text-uppercase mt-4 mb-4">
    Livres <span class="text-warning">disponibles</span>
  </h2>
  <div class="container mb-5 mt-5">
    <div class="row mb-4">
      <div class="col-12 col-md-4 mb-2 mb-md-0 grid-col">
        <app-book-card class="app-book-card" />
      </div>
      <div class="col-12 col-md-4 mb-2 mb-md-0 grid-col">
        <app-book-card class="app-book-card" />
      </div>
      <div class="col-12 col-md-4 mb-2 mb-md-0 grid-col">
        <app-book-card class="app-book-card" />
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-2 mb-md-0 grid-col">
        <app-book-card class="app-book-card" />
      </div>
      <div class="col-12 col-md-4 mb-2 mb-md-0 grid-col">
        <app-book-card class="app-book-card" />
      </div>
      <div class="col-12 col-md-4 mb-2 mb-md-0 grid-col">
        <app-book-card class="app-book-card" />
      </div>
    </div>
  </div>
</section>
