.book-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.book-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 2px 4px 12px -2px rgba(65, 65, 65, 0.513);
}

@media (max-width: 768px) {
  .book-card {
    flex-direction: row;
    max-height: 200px;
  }

  .book-card > img {
    width: 35%;
  }
}
