<div class="container py-8">
  <div class="header row">
    <div class="col col-entry">username</div>
    <div class="col col-entry">email address</div>
    <div class="col col-entry">password</div>
    <div class="col col-entry actions">Actions</div>
  </div>
  <div class="row row-entry">
    <div class="col col-entry">
      <div class="avatar">YD</div>
      Youssri Dali
    </div>
    <div class="col col-entry">youssridali@gmail.com</div>
    <div class="col col-entry">sfwoeifsldkfsjdl</div>
    <div class="col col-entry">
      <div class="actions">
        <i class="fas fa-edit text-warning"></i>
        <i class="fas fa-trash text-danger"></i>
      </div>
    </div>
  </div>
  <div class="row row-entry">
    <div class="col col-entry">
      <div class="avatar">YD</div>
      Youssri Dali
    </div>
    <div class="col col-entry">youssridali@gmail.com</div>
    <div class="col col-entry">sfwoeifsldkfsjdl</div>
    <div class="col col-entry">
      <div class="actions">
        <i class="fas fa-edit text-warning"></i>
        <i class="fas fa-trash text-danger"></i>
      </div>
    </div>
  </div>
  <div class="row row-entry">
    <div class="col col-entry">
      <div class="avatar">YD</div>
      Youssri Dali
    </div>
    <div class="col col-entry">youssridali@gmail.com</div>
    <div class="col col-entry">sfwoeifsldkfsjdl</div>
    <div class="col col-entry">
      <div class="actions">
        <i class="fas fa-edit text-warning"></i>
        <i class="fas fa-trash text-danger"></i>
      </div>
    </div>
  </div>
</div>
